// ******** Buttons ********

// ******** FIXES ********

// Treats .b-tooltip like .button inside .buttons
// based on the default .button styling
// FIXME: this should technically target if inner button isn't .button:not(.is-fullwidth)
.buttons .b-tooltip:not(:last-child) {
  margin-right: 0.5rem;
}

// Fixes upload behavior for fullwidth
// ********
.field.file {
  .field-body {
    max-width: 100%;
  }

  .field.has-addons {
    max-width: 100%;
  }

  .file-name {
    width: 100%;
    max-width: unset;
  }

  .file-name.control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// Remove default error messages when no-help class is applied
.field.no-help > .help {
  display: none;
}
// ********

// TEMPFIX: issue#10
// for bulma 0.9.1, should be fixed in next release
.card {
  overflow: visible !important;
}

// TEMPFIX: issue#13
// for bulma 0.9.1, nested grouped fields with labels cause <p class="control> elements to float up
.field.is-grouped > .control {
  align-self: flex-end;
}

.field.is-grouped.is-grouped-multiline > .field {
  margin-bottom: 0.75rem;
}

// ******** Additions/Improvements ********

// Allows modals to size more flexibly (width)
// ****
.animation-content {
  max-width: unset !important;
}

.dialog .modal-card {
  // Use custom .modal-card sizes defined below
  max-width: unset !important;
  width: unset !important;
}

.modal-card {
  max-width: 90vw;
  width: minmax(10vw, auto) !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

// If no header
.modal-card-body:first-child {
  border-top-left-radius: $radius-large;
  border-top-right-radius: $radius-large;
}

// If no footer
.modal-card-body:last-child {
  border-bottom-left-radius: $radius-large;
  border-bottom-right-radius: $radius-large;
}
// ****
