// ******** Buttons ********

// Treats .b-tooltip like .button inside .buttons
// based on the default .button styling
// FIXME: should target if inner button isn't .button:not(.is-fullwidth)
.buttons .b-tooltip:not(:last-child) {
  margin-right: 0.5rem;
}

// TEMPFIX: issue#10
// for bulma 0.9.1, should be fixed in next release
.card {
  overflow: visible !important;
}

// TEMPFIX: issue#13
// for bulma 0.9.1, nested grouped fields with labels cause <p class="control> elements to float up
.field.is-grouped > .control {
  align-self: flex-end;
}

.field.is-grouped.is-grouped-multiline > .field {
  margin-bottom: 0.75rem;
}
