@import "./vars/buefy_extends";

// **** Generic Classes ****
.responsive-container {
  margin: 0 $responsiveContainerSpacing;
}

.padded-responsive-container {
  padding: 0 $responsiveContainerSpacing;
}

.link-animate {
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.15em;
    left: 0;
    width: 100%;
    height: 0.1em;
    min-height: 1px;
    border-radius: 20px;
    background-color: currentColor;
    transform-origin: center;
    transition: transform 0.25s ease;
  }

  &:hover {
    &::after {
      transform: scaleX(0);
    }
  }
}

// **** Shared Helper Classes ****
.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
